@tailwind base;

@tailwind components;

.header {
    @apply w-7/12 font-semibold text-left;
}

.header-value {
    @apply w-4/12 text-right;
}

.item {
    @apply w-7/12 text-left pl-4;
}

.item-value {
    @apply w-4/12 text-right;
}



@tailwind utilities;